
<nav class="navbar navbar-light bg-light" style=" background-color: dimgray !important;color: white ;">
    <a class="navbar-brand" style="margin: auto;">
      {{subject}}
    </a>
  </nav>

<ul class="list-group list-group-flush" style="margin: auto;
text-align: center;">

    <li  style="background-color: #2f2f2f;color: white;" class="list-group-item">
    <form #questionForm="ngForm">
      <div class="form-group" *ngFor="let question of questions">
        <label for="formGroupExampleInput">{{question.question}}</label>
        <input type="text" style="margin-top: 5%;" name="{{question.question}}" [ngModel]="reply" *ngIf="question.question_type == 'metin'" class="form-control" id="formGroupExampleInput" placeholder="Cevabın">
        
        <div *ngIf="question.question_type == 'secenek'" style="margin-top: 5%;" >
          <label class="btn btn-secondary" style="background-color: #b02d30;">
            <input type="radio" name="{{question.question}}" [ngModel]="replyOption" value="yes"  id="option1" autocomplete="off"  checked> Evet
          </label>
          <label class="btn btn-secondary"   style="margin-left: 5%;background-color: #b02d30;">
            <input type="radio" name="{{question.question}}"  [ngModel]="replyOption"  value="no"  id="option2" autocomplete="off"> Hayır
          </label>
        </div>
     
      </div>

      <button type="button" style="width: 20%;margin: auto;margin-top: 5%;" class="btn btn-info" (click)="addReply(questionForm)">Gönder</button>

    </form>


  </li>


  </ul>

