<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
  <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="row" style="    width: 100%;    margin: auto;">
    <div class="col-md-12">
      <form #questionForm="ngForm" style="    margin-top: 5%;">

      


        <h1 style="    font-size: 30px;
  margin-top: 6%;">Konu : {{subject}}</h1>

        <fieldset *ngFor="let question of questions">

          <div *ngIf="question.question_type == 'metin'">
            <legend><span class="number">1</span> {{question.question}}</legend>

            <input type="text" id="name" name="{{question.question}}" [ngModel]="reply"
              style="margin-top: 3%;    height: 85px;">
          </div>


          <div *ngIf="question.question_type == 'secenek'">
            <legend><span class="number">2</span> {{question.question}}</legend>


            <input type="radio" style="margin-top: 3%;" id="under_13" value="Evet" name="{{question.question}}"
              [ngModel]="replyOption"><label for="under_13" class="light">Evet</label><br>
            <input type="radio" id="over_13" value="Hayır" name="{{question.question}}" [ngModel]="replyOption"><label
              for="over_13" class="light">Hayır</label>
          </div>


        </fieldset>
        <fieldset>

          <legend style="text-align: center;">İsim</legend>

          <input type="text" id="replyName" name="replyName" [ngModel]="replyName"
            style="margin-top: 3%;    height: 85px;">

          <button type="submit" style="    margin-top: 15%;" (click)="addReply(questionForm)">Gönder</button>
        </fieldset>

      </form>
    </div>
  </div>

</body>

</html>



<!-- <nav class="navbar navbar-light bg-light" style=" background-color: dimgray !important;color: white ;">
  <a class="navbar-brand" style="margin: auto;">
    {{subject}}
  </a>
</nav>

<ul class="list-group list-group-flush" style="margin: auto;
text-align: center;">

  <li  style="background-color: #2f2f2f;color: white;" class="list-group-item">
  <form #questionForm="ngForm">
    <div class="form-group" *ngFor="let question of questions">
      <label for="formGroupExampleInput">{{question.question}}</label>
      <input type="text" style="margin-top: 5%;" name="{{question.question}}" [ngModel]="reply" *ngIf="question.question_type == 'metin'" class="form-control" id="formGroupExampleInput" placeholder="Cevabın">
      
      <div *ngIf="question.question_type == 'secenek'" style="margin-top: 5%;" >
        <label class="btn btn-secondary" style="background-color: #b02d30;">
          <input type="radio" name="{{question.question}}" [ngModel]="replyOption" value="yes"  id="option1" autocomplete="off"  checked> Evet
        </label>
        <label class="btn btn-secondary"   style="margin-left: 5%;background-color: #b02d30;">
          <input type="radio" name="{{question.question}}"  [ngModel]="replyOption"  value="no"  id="option2" autocomplete="off"> Hayır
        </label>
      </div>
   
    </div>

    <button type="button" style="width: 20%;margin: auto;margin-top: 5%;" class="btn btn-info" (click)="addReply(questionForm)">Gönder</button>

  </form>


</li>


</ul> -->