
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" style="    margin: auto;">
      Bootstrap
    </a>
  </nav>

<ul class="list-group list-group-flush">
    <li style="    background-color: #2f2f2f;color: white;" class="list-group-item">Cras justo odio</li>
    <li style="    background-color: #2f2f2f;color: white;" class="list-group-item">Cras justo odio</li>
    <li style="    background-color: #2f2f2f;color: white;" class="list-group-item">Cras justo odio</li>
    <li style="    background-color: #2f2f2f;color: white;" class="list-group-item">Cras justo odio</li>
    <li style="    background-color: #2f2f2f;color: white;" class="list-group-item">Cras justo odio</li>
  </ul>