<div class="toolbar" role="banner" style="background-color: #b02d30;">
    <img width="40" alt="Angular Logo"
        src="https://www.clipartmax.com/png/middle/179-1798974_friendship-png-photo-refer-a-friend-icon.png" />
    <span>Activity</span>
    <div class="spacer"></div>

</div>

<div style="margin-top: 15%;">
    <div class="card" style="width: 105%;color: white;    border: none;
    background-color: transparent;    text-align: center;">
        <img class="card-img-top" style="    width: 122px;
        margin: auto;margin-top: 10%;" src="https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="color: cadetblue;">@Card title</h5>
            <p class="card-text">Konu</p>
        </div>
        <ul class="list-group list-group-flush">
            <li style="background-color: transparent;" class="list-group-item">
                <label style="width: 100%;    font-size: 16px;">Soru</label>
                <label>Cevap</label>
            </li>
            <li style="background-color: transparent;" class="list-group-item">
                <label style="width: 100%;    font-size: 16px;">Soru</label>
                <label>Cevap</label>
            </li>

        </ul>

    </div>
</div>