<div class="toolbar" role="banner" style="background-color: #b02d30;">
    <img width="40" alt="Angular Logo"
        src="https://cdn.iconscout.com/icon/free/png-256/activity-3-124194.png" />
    <span>Activity</span>
    <div class="spacer"></div>

</div>

<div style="margin-top: 15%;">
    <div class="card" style="width: 100%;color: white;    border: none;
    background-color: transparent;    text-align: center;">
        <img class="card-img-top" style="    width: 122px;
        margin: auto;margin-top: 10%;" src="https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="color: cadetblue;">@{{respondentName}}</h5>
            <p class="card-text" style="    font-size: 20px;
            margin-top: 15%;color: #ffc200;">Konu : {{subject}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li *ngFor="let reply of replys" style="background-color: transparent;" class="list-group-item">
                <label style="width: 100%;    font-size: 16px;font-weight: bold;    font-size: 18px;">Soru : {{reply.question}}</label>
                <label style="margin-top: 5%;">Cevap : {{reply.reply}}</label>
            </li>
            

        </ul>

    </div>
</div>